<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Transfer2Raccoon.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="kmuhBreathsysTransfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=IP add;Initial Catalog=miscservice;User Id=USER;password=PASSWORD;Connection Timeout=0;"/>-->
    <!--<add name="PatientDataConnection" providerName="System.Data.SqlClient" connectionString="Data Source=IP add;Initial Catalog=miscservice;User id=USER;Password=PASSWORD;" />-->
    <!--<add name="DefaultConnection" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=USER;Password=PASSWORD;Data Source=DATABASE" />-->
</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="RT" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)))  " />
        <dataSource alias="MIS" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)))  " />
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <appSettings>
    <!--DB2資料庫連線-->
    <add key="DB2ConnectionString" value="Database=Database;UserID=UserID;Password=Password;Server=ServerDNSIP:PORT" />
    <add key="Timmer" value="Timmer" />
    <add key="Pathstr" value="Pathstr" />
    <add key="sourceFile" value="sourceFile" />
    <add key="destinationFile" value="destinationFile" />
    <add key="DataTableName" value="DataTableName" />
    <add key="INIOPEN" value="N" />
    <add key="RespiratoryORHemodialysis" value="Respiratory" />
    <!--呼吸器TAGE對應-->
    <add key="Tags" value="524:ETIDALCO2P;387:PAV;493:ESEN;497:VCO2;495:SCETCO2;519:MAXPRES;520:MINPRES;503:AUTOPEEP;384:VTRAP;498:LEAK;508:MAXPRES;525:M_TL;488:APNEALA;523:LVALA;456:HMALA;490:HRALA;507:AVAPSRATE;509:PSMAX;510:PSMIN;511:EPAPMAX;512:EPAPMIN;500:TRIGG_EDI;514:FLOWCS;515:C_FLEX;516:CIRDIS;518:HVALA;517:LRALA;333:VENTYPE;0000:VENNO;measureTime:TIMESTP;453:RESISTANCE;337:VTE;355:SENSF;335:MODE;patientId:HHISNUM;patientRoom:WARD;346:FIO2;458:FIO2M;348:PEEP;350:PC;352:PSP;473:PH;475:PL;521:PEAKFLOW;342:FLOWR;344:INSPT;459:IEM;338:RATEPT;339:RATEM;336:VTP;457:INSPP;353:SPONVT;341:MV;356:PEAK;357:PLATEAU;347:MAP;452:COMPLIANCE;391:SENSP;354:BASEFLOW;359:HPRESSL;358:LOWMV;477:T_HIGH;345:T_LOW;390:ATC;386:TLMAX;522:INSPTERM;385:EXPTERM;473:PH;475:MINPRES;503:AUTOPEEP;499:NAVA_LEVEL;501:EDI_PEAK;502:EDI_MIN;496:ETIDALCO2U;" />
    <!--特定要求-->
    <add key="HID" value="HID" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>